@use 'node_modules/timeline/src/timeline';
@use 'node_modules/timeline/src/timeline-dark';
@use 'node_modules/tippy.js/dist/tippy.css';
@use 'node_modules/tippy.js/dist/border.css';
@use "sass:color";

$main: #9c3020;
$background: #fffafa;
$dark-main: #f8b0a6;
$dark-background: #444040;

:root {
	--colour-main: #{$main};
	--colour-background: #{$background};
}

@media (prefers-color-scheme: dark) {
	:root {
		--colour-main: #{$dark-main};
		--colour-background: #{$dark-background};
	}
}

body {
	font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
}

h1 {
	font-weight: 500;
}

a {
	color: var(--colour-main);
}

.label {
	position: absolute;
	top: 100px;
	left: 50px;
	max-width: 26em;
	border: 1px solid var(--tl-colour-stroke);
	background: var(--colour-background);
	padding: 1em;
	color: var(--tl-colour-text);
	h1 {
		margin: 0;
	}
	ol {
		margin-bottom: 0;
	}
}

.entry[data-wikipedia] {
	cursor: pointer;
}

/***************************
 * Tippy.js theme
 *
 ***************************/

.tippy-box[data-theme~='tl'] {
	color: var(--tl-colour-text);
	background-color: var(--colour-background);
	border: 1px solid var(--tl-colour-stroke);
}

.tippy-box[data-theme~='tl'][data-placement^='top'] > .tippy-arrow::before {
	border-top-color: var(--colour-background);
}
.tippy-box[data-theme~='tl'][data-placement^='bottom'] > .tippy-arrow::before {
	border-bottom-color: var(--colour-background);
}
.tippy-box[data-theme~='tl'][data-placement^='left'] > .tippy-arrow::before {
	border-left-color: var(--colour-background);
}
.tippy-box[data-theme~='tl'][data-placement^='right'] > .tippy-arrow::before {
	border-right-color: var(--colour-background);
}
